/* Hugo Blox custom theme: INDIGO HERZOG */

:root {

/* ---------- Primary: Indigo-leaning Herzog Violet (#6F63B5) ---------- */

--hb-primary-50-rgb: 242 241 252;
--hb-primary-100-rgb: 224 221 247;
--hb-primary-200-rgb: 194 189 238;
--hb-primary-300-rgb: 158 150 224;
--hb-primary-400-rgb: 121 110 206;
--hb-primary-500-rgb: 111 99 181; /* base */
--hb-primary-600-rgb: 93 82 160;
--hb-primary-700-rgb: 75 66 134;
--hb-primary-800-rgb: 58 50 105;
--hb-primary-900-rgb: 41 35 77;
--hb-primary-950-rgb: 24 20 47;


  /* ---------- Secondary: Warm Amber (#F0A657) ---------- */

  --hb-secondary-50-rgb: 254 247 239;
  --hb-secondary-100-rgb: 252 233 207;
  --hb-secondary-200-rgb: 249 209 160;
  --hb-secondary-300-rgb: 245 181 110;
  --hb-secondary-400-rgb: 242 157 75;
  --hb-secondary-500-rgb: 240 166 87; /* base */
  --hb-secondary-600-rgb: 217 142 63;
  --hb-secondary-700-rgb: 186 114 43;
  --hb-secondary-800-rgb: 150 89 31;
  --hb-secondary-900-rgb: 112 66 23;
  --hb-secondary-950-rgb: 69 39 13;


  /* ---------- Tertiary / Accent: Dusty Rose (#AA6A83) ---------- */

  --hb-tertiary-50-rgb: 250 243 246;
  --hb-tertiary-100-rgb: 241 224 231;
  --hb-tertiary-200-rgb: 224 192 206;
  --hb-tertiary-300-rgb: 201 154 177;
  --hb-tertiary-400-rgb: 179 117 149;
  --hb-tertiary-500-rgb: 170 106 131; /* base */
  --hb-tertiary-600-rgb: 146 87 112;
  --hb-tertiary-700-rgb: 120 68 91;
  --hb-tertiary-800-rgb: 92 52 70;
  --hb-tertiary-900-rgb: 64 36 49;
  --hb-tertiary-950-rgb: 39 21 30;

}
