/* Hugo Blox custom theme: HERZOG MULTI-PALETTE */

:root {

/* ===================================================== */
/* ---------- Primary: Molecular Indigo (#5C6BC0)  ------------ */
/* ===================================================== */


  --hb-primary-50-rgb: 240 243 249;
  --hb-primary-100-rgb: 217 226 240;
  --hb-primary-200-rgb: 178 197 226;
  --hb-primary-300-rgb: 140 169 211;
  --hb-primary-400-rgb: 101 140 197;
  --hb-primary-500-rgb: 63 111 182; /* base #3F6FB6 */
  --hb-primary-600-rgb: 55 97 159;
  --hb-primary-700-rgb: 46 83 137;
  --hb-primary-800-rgb: 38 69 114;
  --hb-primary-900-rgb: 30 55 91;
  --hb-primary-950-rgb: 23 44 73;


/* ===================================================== */
/* ---------- Secondary: Herzog Violet (#6F63B5) -------- */
/* ===================================================== */

--hb-secondary-50-rgb: 242 241 252;
--hb-secondary-100-rgb: 224 221 247;
--hb-secondary-200-rgb: 194 189 238;
--hb-secondary-300-rgb: 158 150 224;
--hb-secondary-400-rgb: 121 110 206;
--hb-secondary-500-rgb: 111 99 181; /* base */
--hb-secondary-600-rgb: 93 82 160;
--hb-secondary-700-rgb: 75 66 134;
--hb-secondary-800-rgb: 58 50 105;
--hb-secondary-900-rgb: 41 35 77;
--hb-secondary-950-rgb: 24 20 47;


/* ===================================================== */
/* ---------- Tertiary: Warm Amber (#F0A657) ------------ */
/* ===================================================== */

--hb-tertiary-50-rgb: 254 247 239;
--hb-tertiary-100-rgb: 252 233 207;
--hb-tertiary-200-rgb: 249 209 160;
--hb-tertiary-300-rgb: 245 181 110;
--hb-tertiary-400-rgb: 242 157 75;
--hb-tertiary-500-rgb: 240 166 87; /* base */
--hb-tertiary-600-rgb: 217 142 63;
--hb-tertiary-700-rgb: 186 114 43;
--hb-tertiary-800-rgb: 150 89 31;
--hb-tertiary-900-rgb: 112 66 23;
--hb-tertiary-950-rgb: 69 39 13;


/* ===================================================== */
/* ---------- Quaternary: Dusty Rose (#AA6A83) ---------- */
/* ===================================================== */

--hb-quaternary-50-rgb: 250 243 246;
--hb-quaternary-100-rgb: 241 224 231;
--hb-quaternary-200-rgb: 224 192 206;
--hb-quaternary-300-rgb: 201 154 177;
--hb-quaternary-400-rgb: 179 117 149;
--hb-quaternary-500-rgb: 170 106 131; /* base */
--hb-quaternary-600-rgb: 146 87 112;
--hb-quaternary-700-rgb: 120 68 91;
--hb-quaternary-800-rgb: 92 52 70;
--hb-quaternary-900-rgb: 64 36 49;
--hb-quaternary-950-rgb: 39 21 30;

}
